h1, h2, h3, p{
    margin-block-start: 0;
}

h1, h2, h3{
    line-height: 1;
}

p{
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
    color: var(--text2);
}

a, button{
    transition: var(--transition);
}



a.underline, button{
    display: inline-block;
    padding-bottom: 0.625rem;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 0.143em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text1);
    text-decoration: none;
    background-image: linear-gradient( to right, var(--accent) 75%, var(--accent) 75%);
    background-position: 0 2.1em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
}

a:focus-visible{
    outline: 2px dashed var(--accent);
    outline-offset: 2px;
    color: var(--accent);
    transition: var(--transition);
}
